.nav{
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-icon{
    width: 20px;
    height: 20px;
    color: white;s
}
li{
    display: inline-block;
    padding-top: 5px;
    margin-left: 70px;
}
.nav:hover{
    color: white;
}

ul{
    margin: 0px;
    width: "100%";
    height: 40px;
    background-color: rgb(36, 31, 31);
}
.first{
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: blue;
    padding-top: 10px;
    margin: 0%;

}
.firstL{
    color: white;
    text-decoration: none;
}
.second{
    margin: 0px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: rgb(243, 243, 243);
}
.secondL{
    text-decoration: none;
}
.iPhone12{
    text-align: center;
    line-height: 10px;
}
.fullsize{
    width: 100%;
}
.paragraph{
    text-align: justify;
    width: 80%;
    font-size: 14px;
    margin-left: 10%;
    padding-top: 20px;
}

.top{
    text-align: center;
}
.bottom{
    background-color: rgb(242, 242, 242);
    text-align: center;
    }
hr{
    width: 80%;    
}